.idea/*

servidor_mcp_bd_codigo/.venv/*
servidor_mcp_bd_codigo/.env
servidor_mcp_bd_codigo/.idea/*

servidor_mcp_confluence/.venv/*
servidor_mcp_confluence/.env
servidor_mcp_confluence/.idea/*

servidor_mcp_gitlab/.venv/*
servidor_mcp_gitlab/.env
servidor_mcp_gitlab/.idea/*

sistema_agentes/.venv/*
sistema_agentes/.env
sistema_agentes/.idea/*
sistema_agentes/static/.obsidian

servidor_mcp_google_drive/credentials/*
servidor_mcp_google_drive/node_modules/*
servidor_mcp_google_drive/dist/*
servidor_mcp_google_drive/.idea/*

frontend/.venv/*

# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/



